<!-- <h1>
<%= display_name(@candidate)  %>
</h1>
age: <%= @candidate.age %>

<br/> -->



<h1>
<%= display_name(@candidate)  %>
</h1>
<table class="table table-bordered">

    <tr>
      <td>Vote</td>
      <td><%= @candidate.votes %></td>
    </tr>
    <tr>
      <td>Age</td>
      <td><%= @candidate.age %></td>
    </tr>
    <tr>
      <td>Politics</td>
      <td><%= @candidate.politics %></td>
    </tr>
<!--     <tr>
      <td></td>
      <td></td>
    </tr> -->

</table>
  <%= link_to "edit",edit_candidate_path(@candidate) , class: "btn btn-success btn-xs"  %>
  <%= link_to "back" ,candidates_path ,class: "btn btn-success btn-xs" %>
